h2 {
    display: flex;
    justify-content: center;
}

h4 {
    margin: 20px;
    padding: 20px;
}

.bg {
    background-color: purple;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
}
